html {
    font-family: 'Handjet', cursive;
    font-weight: bold;
    font-size: 1.3rem;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #666371;
    margin: 0;
    padding: 0;
}
input,button,select,option {
    font-family: 'Handjet', cursive;
    font-weight: bold;
    background-color: #ffffffb0;
    border: none;
}
input,select {
    font-size: 1rem;
    margin-left: 5px;

}
option:checked, option:hover, option:active, option:focus {
    background-color: rgb(160, 107, 209);
    color: white;
}
button{
    font-size: 0.8rem;
    border-radius: 40px 60px;
    border: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button[type='submit']:hover {
    background-color: rgb(160, 107, 209);
    color: white;
}
a {
    color: #795aa1;
    text-decoration: none;
}
a:hover {
    color: white;
}

h1{
    text-align: center;
}
h3 {
    margin-left: 5px;
}
button[type=submit]{
    cursor: pointer;
}
/* header */
header {
    margin-bottom: 10px;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    background-color: #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
header>#logo {
    position: relative;
    width: 9vh;
}
header>#logo>img {
    height: 10vh;
    transition: 1s;
    position: absolute;
    top: 0px;
    overflow: hidden;
    animation: rollBack 0.85s linear forwards;
}
header>#logo:hover>img {
    animation: roll 1.1s linear forwards;
}
@keyframes roll {

    17% {
        top: -57px;
    }
    34% {
        top: 0px;
    }
    50% {
        top: -30px;
    }
    63% {
        top: 0px;
    }
    78% {
        top: -13px;
    }
    82% {
        top: 0px;
    }
    100% {
        transform: rotate(680deg);
        margin-left: 5vh;
        top: 0px;
    }
}
@keyframes rollBack {
    0% {transform: rotate(680deg);
        margin-left: 5vh;}
    100%{        transform: rotate(0deg);
        margin-left: 0vh;}
}
header>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 0;
}
header>ul>li {
    background-color: white;
    padding: 10px;
    border-radius: 40px 60px;
    display: flex;
    align-items: center;
}
header>ul>li:hover {
    background-color: #795aa1;;
}
header>ul>li:hover>a {
    color: white;
}
header>ul:nth-child(2) {
    width: 70%;
}
header>ul:nth-child(3) {
    width: 25%;
}
header>ul>#welcome {
    background-color: unset;
}
/* main */
main>h2 {
    margin-left: 10px;
}
/* UserForm */
.userForm,.persoForm {
    display: flex;
    justify-content: center;
    height: 80vh;
    height: fit-content;
}
.userForm>form,.persoForm>form {
    padding: 1.3%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 4px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 30%;
    background-color: #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.persoForm>form>div:not(#caracteristiquePerso,#competencePerso,#inventaire) {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}
/* bouton Créer du formulaire */
.persoForm>form>div:not(#caracteristiquePerso,#competencePerso,#inventaire):nth-last-child(2) {
    justify-content: flex-end;
}

.persoForm>form>div:not(#caracteristiquePerso,#competencePerso,#inventaire)>label {
    width: 50%;
    text-align: right;
}
.persoForm>form>div:not(#caracteristiquePerso,#competencePerso,#inventaire)>input {
    width: 45%;
    background-color: #ffffffb0;
    border: none;
}
.userForm>form>div {
    margin: 1% 0;
}
.userForm>form>div>input,.persoForm>form>div>input {
    margin-left: 5px;
}
/* Tableau associatif de PersoForm */
#caracteristiquePerso, #competencePerso, #inventaire {
    border-top: 1px solid black;
    margin-top: 20px;
    width: 100%;
}
#spanCarac, #spanComp, #spanInv {
    display: flex;
    flex-direction: column;
}
#spanCarac>div,#spanComp>div,#spanInv>div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    flex-direction: column;
    align-items: flex-end;
}
#spanCarac>div>div,#spanComp>div>div,#spanInv>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;
}
#caracteristiquePerso>div>div>div>div, #competencePerso>div>div>div>div, #inventaire>div>div>div>div {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}
#caracteristiquePerso>div>div>div>div>div:not(:first-child),#competencePerso>div>div>div>div>div:not(:first-child),#inventaire>div>div>div>div>div:not(:first-child) {
    margin-left: 5px;
}
#caracteristiquePerso>div>div>div>div>div>select,#caracteristiquePerso>div>div>div>div>div>input,
#competencePerso>div>div>div>div>div>select,#competencePerso>div>div>div>div>div>input,
#inventaire>div>div>div>div>div>select,#inventaire>div>div>div>div>div>input {
    background-color: #ffffffb0;
    border: none;
}

/* resumePerso */
#resumePerso {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1%;
    padding-top: 72px;
    margin-left: 15px;
    position: relative;
    background-color: #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.editOrFav {
    position: absolute;
    top: 2%;
    right: 2%;
}
.editOrFav>a>i {
    color: #795aa1;
}
.editOrFav>a:hover>i {
    opacity: 0.8;
}
#resumePerso>div:not(:nth-child(2)) {
    border-top: 1px solid black;
}
.healtBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55px;
    left: 75px;
    font-weight: bold;
}
.healtBar>i:first-child, .healtBar>i:nth-child(2) {
    position: absolute;
}
.healtBar>i:first-child {
    transform: scale(4.2);
    color: rgb(238, 18, 84);
}
/* jauge de vie */
.healtBar>i:first-child:after {
    bottom: top;
    content: "";
    position: absolute;
    background: #c7c7c7;
    width: 100%;
    /* partie vide de la bar de vie (à modifier selon le pourcentage) */
    height: 20%;
    opacity: 0.85;
    left: 0;
    right: 0;
}


.healtBar>i:nth-child(2){
    transform: scale(5);
}
.healtBar>p {
    position: absolute;
}
.healtBar>p:nth-child(3) {
    top: -50px;
    border-bottom: 1px solid black;
}
.healtBar>p:nth-child(4) {
    top: -25px;
}
/* listPerso */
.persoList {
    display: flex;
    flex-wrap: wrap;
}
.persoList h2>a {
    text-decoration: none;
    padding-left: 0.3rem;
}
.persoList>div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    margin: 0 10px;
    max-height: 25%;
    overflow: overlay;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.persoList>div>div:last-child {
    display: flex;
    justify-content: space-between;
}
.persoList>div>div:last-child>div {
    width: -webkit-fill-available;
}
.persoList>div>div:last-child>div>h3 {
    text-align: center;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0.4rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.persoList>div>div:last-child>div:not(:last-child) {
    border-right: 2px solid rgb(255, 255, 255);
}
.persoList>div>div:last-child>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    height: 2rem;
}
.persoList>div>div:last-child>div>div>p {
    margin: 0;
}
/* commentForm */
.commentForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.commentForm>div:first-child {
    display: flex;
    flex-direction: column;
    margin: 1.5% 0;
}
.commentForm>div:first-child>textarea {
    min-width: 97.5%;
    max-width: 97.5%;
    min-height: 1rem;
    background-color: rgba(255, 255, 255, 0.623);
    font-family: 'Handjet', cursive;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}
.commentForm>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* commentaire */
.commentaire {
    position: relative;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.623);
    padding: 5px;
    border-radius: 5px;
}
.commentaire>p {
    border-top: 1px solid black;
    margin-top: 0;
    padding-top: 5px;
}
.commentaire>div:first-child {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
}
.commentaire>div:first-child>p {
    margin: 0 2px;
}
.commentaire>div:first-child>a>i {
    color: rgb(163, 1, 1);
}
.commentaire>div:first-child>a:hover>i {
    opacity: 0.8;
}

/* comp/carac button */
.ajout-caracteristiquePerso, .ajout-competencePerso, .ajout-objetPerso {
    background-color: rgb(15, 105, 15);
    color: white;
    border: none;
    padding: 5px;
    margin: 10px 0;
    cursor: pointer;
}
.ajout-caracteristiquePerso:hover, .ajout-competencePerso:hover, .ajout-objetPerso:hover {
    color: rgb(15, 105, 15);
    background-color: white;
}
.delete-caracteristique-button, .delete-competence-button, .delete-objet-button {
    background-color: rgb(160, 27, 27);
    color: white;
    border: none;
    border-radius: 40px 60px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.delete-caracteristique-button:hover, .delete-competence-button:hover, .delete-objet-button:hover {
    color: rgb(160, 27, 27);
    background-color: white;
}

/* footer */
footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: #c7c7c7;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
footer>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.sf-toolbar {
    position: absolute;
}