h1{
    text-align: center;
}
/* UserForm */
.userForm,.persoForm {
    display: flex;
    justify-content: center;
    height: 80vh;
}
.userForm>form,.persoForm>form {
    padding: 1.3%;
    border: 1px solid black;
    border-radius: 4px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 30%;
}
.userForm>form>div {
    margin: 1% 0;
}
.userForm>form>div>input,.persoForm>form>div>input {
    margin-left: 5px;
}

#caracteristiquePerso, #competencePerso, #inventaire {
    border-top: 1px solid black;
    margin-top: 20px;
    width: 100%;
}
#spanCarac, #spanComp, #spanInv {
    display: flex;
    flex-direction: column;
}
#spanCarac>div,#spanComp>div,#spanInv>div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
#spanCarac>div>div,#spanComp>div>div,#spanInv>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
#spanCarac>div>div>div,#spanComp>div>div>div,#spanInv>div>div>div {
    margin: 0 2px;
}
/* resumePerso */
#resumePerso {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    position: relative;
}
#resumePerso>.editOrFav {
    position: absolute;
    top: 2%;
    right: 2%;
}
#resumePerso>div:not(:nth-child(2)) {
    border-top: 1px solid black;
}

/* commentForm */
.commentForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.commentForm>div:first-child {
    display: flex;
    flex-direction: column;
    margin: 1.5% 0;
}
.commentForm>div:first-child>textarea {
    min-width: 95%;
    max-width: 100%;
    min-height: 1rem;
}
.commentForm>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*  */
#caracteristiquePerso>div>div>div>div, #competencePerso>div>div>div>div, #inventaire>div>div>div>div {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

/* comp/carac button */
.ajout-caracteristiquePerso, .ajout-competencePerso, .ajout-objet {
    background-color: rgb(15, 105, 15);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0;
}
.delete-caracteristique-button, .delete-competence-button, .delete-objet-button {
    background-color: rgb(160, 27, 27);
    color: white;
    border: none;
    border-radius: 8px 0 8px 0;
}