<footer>
    <ul>
        <li><a href="{{ path('my_perso') }}">Mes personnages</a></li>
        <li><a href="{{ path('app_perso') }}">Liste des personnage</a></li>
        <li><a href="{{ path('app_login') }}">Copyright ©</a></li>
    </ul>
</footer>
