{% extends 'base.html.twig' %}

{% block title %}info de l'utilisateur {{ user }}{% endblock %}

{% block body %}
    <div id="infoUser">
        <h2>{{ user.pseudo }}</h2>
        <h3>Personnage de {{ user.pseudo }} </h3>
        {{ block("body", "perso/index.html.twig") }}
    </div>
{% endblock %}